body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

table{
  width: 60%;
}

button{
  background: #adadad;
  border-radius: 6px;
  margin: 2px 1px;
}

button.menu {
  background: #dcc6e0;
  font-size: 1.2em;
}

button.pressed{
  background: #888888;
  border-radius: 6px;
}

.darkbg { /*blue, red, purple, black*/
  color: #d3d3d3;
  text-decoration: none;
}

.lightbg {
  color: #000000;
  text-decoration: none;
}

.darkbg:hover{
  color: #b2cce5;
}

.lightbg:hover{
  color: #34385e;
}

th{
  padding: 7px;
}

th.highlight {
  border: 4px solid;
  padding: 3px;
}

#info {
  position: fixed;
  right: 30px;
  top: 30px;
  width: 35%;
}

#flavortext{
  background-color: #adadad;
  border-radius: 20px;
  width: 57%;
  padding: 2px 10px;
  margin-top: 10px;
}

.header {
  background-color: #696969;
  width: 25%;
}

td{
  text-align: center;
}

.clear {
  background-color: #adadad;
}

.blue {
  color: #aaaaaa;
  background-color: #0B1675;
  padding: 7px;
}
.blue.highlighted1{
  background-color: #1C3696;
  border: 3px solid;
  padding: 4px;
}
.blue.highlighted2{
  background-color: #1F50A5;
  border: 6px double;
}
.blue.highlighted3 {
  box-shadow:
    2px 2px #1F50A5 inset,
    -2px -2px #1F50A5 inset,
    -4px -4px #aaaaaa inset,
    4px 4px #aaaaaa inset;
}
.blue.highlighted4 {
  box-shadow:
    2px 2px #1F50A5 inset,
    -2px -2px #1F50A5 inset,
    -4px -4px #aaaaaa inset,
    4px 4px #aaaaaa inset,
    6px 6px #1F50A5 inset,
    -6px -6px #1F50A5 inset,
    -8px -8px #aaaaaa inset,
    8px 8px #aaaaaa inset;
}

.orange {
  background-color: #DA6E21;
  padding: 7px;
}
.orange.highlighted1 {
  background-color: #DA853A;
  border: 3px solid;
  padding: 4px;
}
.orange.highlighted2 {
  background-color: #E09834;
  border: 6px double;
}
.orange.highlighted3 {
  box-shadow:
    2px 2px #E09834 inset,
    -2px -2px #E09834 inset,
    -4px -4px black inset,
    4px 4px black inset;
}
.orange.highlighted4 {
  box-shadow:
    2px 2px #E09834 inset,
    -2px -2px #E09834 inset,
    -4px -4px black inset,
    4px 4px black inset,
    6px 6px #E09834 inset,
    -6px -6px #E09834 inset,
    -8px -8px black inset,
    8px 8px black inset;
}

.green {
  background-color: #016923;
  padding: 7px;
}
.green.highlighted1 {
  background-color: #018D32;
  border: 3px solid;
  padding: 4px;
}
.green.highlighted2 {
  background-color: #009E3A;
  border: 6px double;
}
.green.highlighted3 {
  box-shadow:
    2px 2px #009E3A inset,
    -2px -2px #009E3A inset,
    -4px -4px black inset,
    4px 4px black inset;
}
.green.highlighted4 {
  box-shadow:
    2px 2px #009E3A inset,
    -2px -2px #009E3A inset,
    -4px -4px black inset,
    4px 4px black inset,
    6px 6px #009E3A inset,
    -6px -6px #009E3A inset,
    -8px -8px black inset,
    8px 8px black inset;
}

.red {
  color: #aaaaaa;
  background-color: #6B0200;
  padding: 7px;
}
.red.highlighted1 {
  background-color: #911411;
  border: 3px solid;
  padding: 4px;
}
.red.highlighted2 {
  background-color: #B03E43;
  border: 6px double;
}
.red.highlighted3 {
  box-shadow:
    2px 2px #B03E43 inset,
    -2px -2px #B03E43 inset,
    -4px -4px #aaa inset,
    4px 4px #aaa inset;
}
.red.highlighted4 {
  box-shadow:
    2px 2px #B03E43 inset,
    -2px -2px #B03E43 inset,
    -4px -4px #aaa inset,
    4px 4px #aaa inset,
    6px 6px #B03E43 inset,
    -6px -6px #B03E43 inset,
    -8px -8px #aaa inset,
    8px 8px #aaa inset;
}

.gold {
  background-color: #F9AE19;
  padding: 7px;
}
.gold.highlighted1 {
  background-color: #FFC023;
  border: 3px solid;
  padding: 4px;
}
.gold.highlighted2 {
  background-color: #FFE261;
  border: 6px double;
}
.gold.highlighted3 {
  box-shadow:
    2px 2px #FFE261 inset,
    -2px -2px #FFE261 inset,
    -4px -4px black inset,
    4px 4px black inset;
}
.gold.highlighted4 {
  box-shadow:
    2px 2px #FFE261 inset,
    -2px -2px #FFE261 inset,
    -4px -4px black inset,
    4px 4px black inset,
    6px 6px #FFE261 inset,
    -6px -6px #FFE261 inset,
    -8px -8px black inset,
    8px 8px black inset;
}

.purple {
  color: #aaaaaa;
  background-color: #540B75;
  padding: 7px;
}
.purple.highlighted1 {
  background-color: #5C2182;
  border: 3px solid;
  padding: 4px;
}
.purple.highlighted2 {
  background-color: #782C91;
  border: 6px double;
}
.purple.highlighted3 {
  box-shadow:
    2px 2px #782C91 inset,
    -2px -2px #782C91 inset,
    -4px -4px #aaa inset,
    4px 4px #aaa inset;
}
.purple.highlighted4 {
  box-shadow:
    2px 2px #782C91 inset,
    -2px -2px #782C91 inset,
    -4px -4px #aaa inset,
    4px 4px #aaa inset,
    6px 6px #782C91 inset,
    -6px -6px #782C91 inset,
    -8px -8px #aaa inset,
    8px 8px #aaa inset;
}

.silver{
  background-color: #5E5B6E;
  padding: 7px;
}
.silver.highlighted1 {
  background-color: #726E85;
  border: 3px solid;
  padding: 4px;
}
.silver.highlighted2 {
  background-color: #8D8BA1;
  border: 6px double;
  padding: 4px;
}
.silver.highlighted3 {
  box-shadow:
    2px 2px #8D8BA1 inset,
    -2px -2px #8D8BA1 inset,
    -4px -4px black inset,
    4px 4px black inset;
}
.silver.highlighted4 {
  box-shadow:
    2px 2px #8D8BA1 inset,
    -2px -2px #8D8BA1 inset,
    -4px -4px black inset,
    4px 4px black inset,
    6px 6px #8D8BA1 inset,
    -6px -6px #8D8BA1 inset,
    -8px -8px black inset,
    8px 8px black inset;
}

.black{
  background-color: #201C35;
  color: #aaaaaa;
  padding: 7px;
}
.black.highlighted1{
  background-color: #26263B;
  border: 3px solid;
  padding: 4px;
}
.black.highlighted2{
  background-color: #313143;
  border: 6px double;
}
.black.highlighted3 {
  box-shadow:
    2px 2px #313143 inset,
    -2px -2px #313143 inset,
    -4px -4px #aaa inset,
    4px 4px #aaa inset;
}
.black.highlighted4 {
  box-shadow:
    2px 2px #313143 inset,
    -2px -2px #313143 inset,
    -4px -4px #aaa inset,
    4px 4px #aaa inset,
    6px 6px #313143 inset,
    -6px -6px #313143 inset,
    -8px -8px #aaa inset,
    8px 8px #aaa inset;
}


.immortal {
  border-color: #fffacd;
}

.frantic{
  border-color: #aab7b7;
}

.sickly {
  border-color: black;
}
