body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

table{
  width: 60%;
}

button{
  background: #adadad;
  border-radius: 6px;
  margin: 2px 1px;
}

button.menu {
  background: #dcc6e0;
  font-size: 1.2em;
}

button.pressed{
  background: #888888;
  border-radius: 6px;
}

.darkbg { /*blue, red, purple, black*/
  color: #d3d3d3;
  text-decoration: none;
}

.lightbg {
  color: #000000;
  text-decoration: none;
}

.darkbg:hover{
  color: #b2cce5;
}

.lightbg:hover{
  color: #34385e;
}

th{
  padding: 7px;
}

th.highlight {
  border: 4px solid;
  padding: 3px;
}

#info {
  position: fixed;
  right: 30px;
  top: 30px;
  width: 35%;
}

#flavortext{
  background-color: #adadad;
  border-radius: 20px;
  width: 57%;
  padding: 2px 10px;
  margin-top: 10px;
}

.header {
  background-color: #696969;
  width: 25%;
}

td{
  text-align: center;
}

.clear {
  background-color: #adadad;
}

.blue {
  color: #aaaaaa;
  background-color: #0B1675;
  padding: 7px;
}
.blue1{
  color: #aaaaaa;
  background-color: #1C3696;
  border: 3px solid;
  padding: 4px;
}
.blue2{
  color: #aaaaaa;
  background-color: #1F50A5;
  border: 6px double;
}
.orange {
  background-color: #DA6E21;
  padding: 7px;
}
.orange1 {
  background-color: #DA853A;
  border: 3px solid;
  padding: 4px;
}
.orange2 {
  background-color: #E09834;
  border: 6px double;
}
.green {
  background-color: #016923;
  padding: 7px;
}
.green1 {
  background-color: #018D32;
  border: 3px solid;
  padding: 4px;
}
.green2 {
  background-color: #009E3A;
  border: 6px double;
}
.red {
  color: #aaaaaa;
  background-color: #6B0200;
  padding: 7px;
}
.red1 {
  color: #aaaaaa;
  background-color: #911411;
  border: 3px solid;
  padding: 4px;
}
.red2 {
  color: #aaaaaa;
  background-color: #B03E43;
  border: 6px double;
}
.gold {
  background-color: #F9AE19;
  padding: 7px;
}
.gold1 {
  background-color: #FFC023;
  border: 3px solid;
  padding: 4px;
}
.gold2 {
  background-color: #FFE261;
  border: 6px double;
}
.purple {
  color: #aaaaaa;
  background-color: #540B75;
  padding: 7px;
}
.purple1 {
  color: #aaaaaa;
  background-color: #5C2182;
  border: 3px solid;
  padding: 4px;
}
.purple2 {
  color: #aaaaaa;
  background-color: #782C91;
  border: 6px double;
}
.silver{
  background-color: #5E5B6E;
  padding: 7px;
}
.silver1 {
  background-color: #726E85;
  border: 3px solid;
  padding: 4px;
}
.silver2 {
  background-color: #8D8BA1;
  border: 6px double;
  padding: 4px;
}
.black{
  background-color: #201C35;
  color: #aaaaaa;
  padding: 7px;
}
.black1{
  background-color: #26263B;
  color: #aaaaaa;
  border: 3px solid;
  padding: 4px;
}
.black2{
  background-color: #313143;
  color: #aaaaaa;
  border: 6px double;
}


.immortal {
  border-color: #fffacd;
}

.frantic{
  border-color: #aab7b7;
}

.sickly {
  border-color: black;
}
